:root {
    --text-color: #222222;
    --surface: #c0c0c0;
    --button-highlight: #ffffff;
    --button-face: #dfdfdf;
    --button-shadow: #808080;
    --window-frame: #0a0a0a;
    --dialog-blue: #000080;
    --dialog-blue-light: #1084d0;
    --dialog-gray: #808080;
    --dialog-gray-light: #b5b5b5;
    --link-blue: #0000ff;
  

    --checkbox-total-width-precalc: var(--checkbox-width) +
      var(--radio-label-spacing);
    --checkbox-total-width: calc(var(--checkbox-total-width-precalc));
    --checkbox-left: calc(-1 * var(--checkbox-total-width-precalc));
    --checkmark-width: 7px;
    --checkmark-top: 3px;
    --checkmark-left: 3px;

    --border-width: 1px;
    --border-raised-outer: inset -1px -1px var(--window-frame),
      inset 1px 1px var(--button-highlight);
    --border-raised-inner: inset -2px -2px var(--button-shadow),
      inset 2px 2px var(--button-face);
    --border-sunken-outer: inset -1px -1px var(--button-highlight),
      inset 1px 1px var(--window-frame);
    --border-sunken-inner: inset -2px -2px var(--button-face),
      inset 2px 2px var(--button-shadow);
}

* {    
    margin: 0;
    padding: 0;
    list-style: none;    
}

body  {
    margin: 0;
    padding: 0;
    background: #c0c0c0;

}

.main {
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    image-rendering: pixelated;
}

.logo2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    max-width: 20rem;
}

.logoMibar2{
    margin-top: 3rem;
    max-width: 100%;
    margin-left: 4rem;
    opacity: 0.3;
}

.logoMibar {
    margin-top: 3rem;
    max-width: 90%;
}
.innerFavicon {
    max-width: 1rem;
    max-height: 2.5%;
    margin-right: 8px;
}

.innerHeader {
    margin-bottom: 3px;
}

.platformHeader {
    display: flex;
    justify-content: flex-end;
}

.formWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-height: 44rem;
    margin: 0 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.2rem;  
}

.window {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;        
}

/* Formulario de loggeo */

.logingForm { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.logingForm button {
    margin-top: 8px;
    flex-direction: row;    
}



.errorLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px 0px 0px;
}
.errorLogin p {
    margin: 8px 0px 0px 5px;
    font-size: 0.8rem;
}

.iconErrorlog {
margin: auto;
display: block;
width: 1.8rem;
height: 1.8rem;
}

/* Formulario de registro (PopUp) */

.popUpfunc {
    display: flex;   
    flex-direction: column;
    align-content: center;
    margin-right: 36rem;
}

.popUpform {
    background-color: #c0c0c0;
    align-items: center;
    width: 35rem;
    position: relative;
    top: 35%;    
    z-index: 9;
    box-shadow: -4px 2px 38px 18px rgba(192,192,192,0.75);
    --animate-duration: 0.1s;
    transform: translateY(-35%) !important;

}

/* Estilo interno PopUp */


.newUserfield {
    max-width: 200px;
    max-height: 21px;
}

.newPass {
    max-width: 200px;
    max-height: 21px;
}

.popUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height:10rem;
}

.popForm {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logoMibarpop {    
    min-width: 40%;
    max-width: 42%;
    margin: 0rem 2rem 1rem 3rem;
    padding: 0;
}

.signupMsg {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 0px 4px 0px;
    justify-content: center;
}

.signupMsg p {
    margin: 4px 40px 4px 0px;
    font-size: 0.8rem;
}

.signUpicon {
    display: flex;
    margin: 4px 0px 0px 40px;
}


.rubroDropdown {
    margin: 10px 0px 33px 20px;
}


/* Estilos de funciones */

#mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
  }

  #mydivheader {
  cursor: move;
  z-index: 10;
  color: #fff;
  width: 99.5%;
}

#mydivheader.title-bar-text.innerHeader {
    margin-right: 15rem;
}

.invis {
    display: none;
}

.vis {
    display: block;
}

.tab-content {
    display: none;  /* Hide all tab content by default */
}

#salon-tab {
    display: block; /* Show the Salon tab by default */        
    }

    .glitchedImg {
        width: 45px;
        height: 40px;
        margin: 0;
    }

    .boomImg {
        background: radial-gradient(circle, rgba(0, 0, 0, 0.8) 10%, transparent 40%);
        padding: 10px;
        border-radius: 10%; /* Same rounded edges */
    }

    .fontColor1 {
        color: blue;
    }

    .fontColor2 {
        color: brown
    }

    .fontColor3 {
        color: black;
    }

    .fontColor4 {
        content: 'CREADO POR ARTURO PORTILLO'
    }
/* Pop dinamico en PLANO */

.popupDinamico {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}


/* PLANO */

.window-body {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    margin: 0;
    padding: 0;
}

.salon-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.ocultarMesa {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

#plano {

    width: 34rem;
    height: 45rem;
    background-color: lightgray;
/*     margin: 1rem 25vw 1rem 1rem; */
    display: grid;
    align-items: center;
}


/* PANEL DE MESA */

.sunken-panel {
    height: fit-content;
    width: 25rem;
    height: 20rem;
}

.btn {
    margin-top: 5px;
    min-height: 2rem;
    min-width: 45px;
    
}

.panelMesa {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
    }

    .panelBtn {
        max-width: 1.5rem;
        padding: 2px;
    }
    
    .panelBtn1 { grid-area: 1 / 1 / 2 / 2; }
    .panelBtn2 { grid-area: 1 / 2 / 2 / 3; }
    .panelBtn3 { grid-area: 1 / 3 / 2 / 4; }
    .panelBtn4 { grid-area: 1 / 4 / 2 / 6;
                margin: 0px 0px 0px 10px;
                max-height: 1.5rem;

            }
    .panelBtn5 { grid-area: 2 / 1 / 3 / 2; }
    .panelBtn6 { grid-area: 2 / 2 / 3 / 3; }
    .panelBtn7 { grid-area: 2 / 3 / 3 / 4; }
    .panelBtn8 { grid-area: 3 / 1 / 4 / 2; }
    .panelBtn9 { grid-area: 3 / 2 / 4 / 3; }
    .panelBtn10 { grid-area: 3 / 3 / 4 / 4; } 

    .filtrar {
        padding: 0.2rem;
        margin-left: 1.5rem;
    }

/* Panel de menu */

.menuWindow {
    height: 43.76rem;
    width: 30rem;
    background-color: #c0c0c0;
}

.addMenu {
    position: absolute;
    margin-top: 35rem;
    margin-left: 27.9rem; 
    bottom: 0;
    width: 25px;    
    z-index: 9;
}

.btnaddArt {
    margin: 0.1rem;
    line-height: 30px;
    font-weight: bold;
}


.tituloMenu {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: light;
}

.panelPadding {
    padding: 0;
    margin: 0;
    height: 43.5rem;
}

.panelMenu {
    min-height: 40rem;
    max-height: 41rem;
    min-width: 35em;
    margin: 1rem;
}

.restoreDB {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 4rem 0 0;
}

.restaurarDBinput {
    margin: 0.5rem;
    width: 0;

}

/* Popup menu */

.menuForm {
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: 18.5rem;
}

.newProductfield {
    width: 10rem;
}

.newProductprice {
    width: 10rem;
}

.popUpmenu {
    width: fit-content;
}

.popUpformenu {
    background-color: #c0c0c0;
    align-items: center;
    width: 20rem;
    position: relative;
    top: 35%;    
    z-index: 9;
    box-shadow: -4px 2px 38px 18px rgba(192,192,192,0.75);
    --animate-duration: 0.1s;
}

.logoMibarmenu {  
    max-width: 90%;
}

.popHeader {
    width: 40px;
    height: 2rem;
}

.title-bar-text.innerHeadermenu {
    width: fit-content;
    max-height: 1rem;
    font-size: 0.5rem;
    
}

/* Extras del plano */

.planoFooter .estadoPlano {
    margin-right: 0.2rem;
    line-height: 24px;
    font-weight: bold;
}

.planoFooter {
display: flex;
flex-direction: row;
width: 34rem;
max-height: 27px;
justify-content: space-between;
margin-left: 1rem;
transform: translateY(-65%);
background-color: #c0c0c0;
border: solid 1px gray;
box-shadow: inset -1px -1px 3px rgba(111,116,117,1);
}

.btnPlus {  
    display: flex;
    flex-direction: row;
    margin-left: 0.2rem;
    max-width: 10rem;
    }

    .btnPlus p {
        line-height: 22px;
        font-weight: bold;
        visibility: hidden;
    }

    

    .addTable {   
        width: 25px;    
        z-index: 9;
        visibility: hidden;
    }
        .addTable:active {
            filter: drop-shadow(-1px -1px 5px rgb(45, 228, 252))
        }

    .restorePlane {
        z-index: 9;
        display: none;
    }

    .restorePlane:active {
        filter: drop-shadow(-1px -1px 5px rgb(235, 39, 4))
    }

.btnLock {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin-right: 0.2rem; 
    max-width: 10rem;
}
    .btnLock p {
        line-height: 23px;
        transform: translateX(-5%);
        font-weight: bold;
    }

        .lock {
            width: 19px;    
            height: 23px;
        }

            .lock:active {
                filter: drop-shadow(-1px -1px 5px rgb(220, 243, 116))
            }



.contenedorMesa {
    height: 22.35rem;
}

/* Panel Menu */

.gridMenu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 85vh;
    
    }

.gridMenu1 { grid-area: 1 / 1 / 3 / 2; 
max-width: 300px;
}
.gridMenu2 { grid-area: 1 / 2 / 2 / 3;
}
.gridMenu3  { grid-area: 2 / 2 / 3 / 3; }
.gridMenu4 { grid-area: 3 / 1 / 4 / 3; }

.campoArticulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;  
    justify-content: space-evenly;
    
}

.cargarForm {
    margin-right: 4.4rem;
}

.fix {
    margin-right: 2rem;
}

.centerMenuart {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.campoArticulos .inputContainer {
    margin: 10px 0px 0px 25px;
}

.borrar { 
    margin: 15px;
} 

.borrarEmpleado {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem 0 0;
}

.actualizarEmpleado {
    display: inline-block;
    gap: 8px;
    margin: 1rem 0rem 0 0;
}

.habilitarDel {
    margin: 10px auto 0px 48px;
}

.habilitadDeleteEmp {
    margin: 0.5rem;
    width: 0;
}

.cargarTitle p {
    margin: 8px 0 4px 10px;    
}

.cargarTitle img {
    margin: 0px 0 8px 4px;  
    width: 15%;
}

.cargarTitle div {
    display: flex;
    margin-left: 20px;
}

.highlighted {
    color: #dfdfdf;
    background-color: rgb(18, 18, 138);
    font-weight: lighter;
    border: dotted white;
    border-width: 1.5px;    
    list-style: none;
}

ul {
    user-select: none;
}

details {
    user-select: none;
}

.treeSize {
    max-width: 17rem;
    height: 42rem;
    max-height: 42rem;
    overflow: scroll;
}

.resultado {
    min-height: 7rem;
    max-height: 7rem;
    overflow: scroll;
}

.restaurarDB {
    width: fit-content;
}

.restoreField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;

}

.cargarErrcontainer {
    display: flex;
    align-items: center; 
    margin-left: 1.5rem;
    margin-top: 0.2rem;
    gap: 8px;
}

.cargarErr {
    line-height: 21px; /* Adjusts vertical spacing of the text */
    gap: 8px; /* Gap will not work unless it's a flex or grid container */
    margin-top: 0.5rem
}

.cargarErr img {
    vertical-align: middle; /* Aligns the image vertically with the text */
    margin-right: 8px; /* Adds spacing between the image and the text */
}

/* Estilos facturacion */

#facturacion-tab {
    margin: 0;
    padding: 0;
    height: 350px;
    min-width: 600px;
    font-family: sans-serif;
}

#facturacion-tab .facturacion-title {
    font-size: 18px;

    font-weight: lighter;
    margin: 1rem 1rem 1rem 0.5rem;
}

hr.solid {
    border-top: 2px solid navy;
    max-width: 95%;
    margin-left: 0.4rem;
  }

.facturacion-header {
    font-size: 15px;
    margin: 0 0 0.1rem 0.4rem;
    font-weight: bolder;
}

.facturacionContainer {
    display: flex;
    flex-direction: row;
}

.facturacion {
    display: flex;
    flex-direction: column;
    min-width: 15rem;
}

.facturacion p {
    font-size: 14px;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

.facturacion span {
    color: brown;
    font-weight: bold;
    
}

.facturacion .hash {
    color: rgb(230, 106, 4);
    font-weight: bold;
}

/* Estilos empleados */

#empleados-tab {
    margin: 0;
    padding: 0;
    height: fit-content;
    min-width: 600px;
}

.empleadosContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arbolEmpleados {
    height: 500px;
    width: 200px;
}

.listaEmp {
    margin-bottom: 0.3rem;
}

.formEditempleado {
    margin: 1rem 2.5rem 0 0;
}

.editarEmpleado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.cargarEmpleado {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.fieldEmp{
    min-width: 250px;
}

.icoSize {
    width: 25px;
    height: 25px;
}

.labelContainer {
    display: flex;
    align-items: center; 
    gap: 8px;
}

.comprobantesMock {
    margin: 1rem;
}

/* Estilo comprobantes */

.tutorialImg {
    height: 48rem;
    width: 60rem;
}




/* GRID Y Estilo de mesas */

.parent {
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr); 
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 1rem 1rem 1rem 1rem;
    
    }


    .modeloMesa { 
        background-color: rgb(111, 212, 111);
        color: black;
        font-weight: bold;
        border-style: solid;
        border-color: limegreen;
        border-radius: 10%;
        border-width: 1px;
        width: 3.9rem;    
        height: 3.9rem;
        text-align: center;
        display: grid;
        align-items: center;
        z-index: 1;
        visibility:visible;        
        left:0; 
        }

    .grilla1{ 
        grid-area: 1 / 1 / 2 / 2;
        background-color:lightgray;
        border-style: dashed ;
        border-color: #c0c0c0;
        border-radius: 10%;
        border-width: 1px;
        width: 4rem;    
        height: 4rem;
        text-align: center;
        display: grid;
        align-items: center;         
        visibility:hidden;
        position:relative;
        }

    .grilla2 { 
        grid-area: 1 / 2 / 2 / 3;
        background-color: lightgray;
        border-style: dashed ;
        border-color: #c0c0c0;
        border-radius: 10%;
        border-width: 1px;
        width: 4rem;    
        height: 4rem;
        text-align: center;
        display: grid;
        visibility:hidden;
        align-items: center; 
        
    }
    .grilla3 { 
    grid-area: 1 / 3 / 2 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; 
    
    }
.grilla4 { 
    grid-area: 1 / 4 / 2 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; 
    
    }
.grilla5 { grid-area: 1 / 5 / 2 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla6 { grid-area: 1 / 6 / 2 / 7; 
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center;} 
    
.grilla7 { grid-area: 1 / 7 / 2 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla8 { grid-area: 2 / 1 / 3 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla9 { grid-area: 2 / 2 / 3 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla10 { grid-area: 2 / 3 / 3 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla11 { grid-area: 2 / 4 / 3 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla12 { grid-area: 2 / 5 / 3 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla13 { grid-area: 2 / 6 / 3 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla14 { grid-area: 2 / 7 / 3 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla15 { grid-area: 3 / 1 / 4 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla16 { grid-area: 3 / 2 / 4 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla17 { grid-area: 3 / 3 / 4 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla18 { grid-area: 3 / 4 / 4 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla19 { grid-area: 3 / 5 / 4 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla20 { grid-area: 3 / 6 / 4 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla21 { grid-area: 3 / 7 / 4 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla22 { grid-area: 4 / 1 / 5 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla23 { grid-area: 4 / 2 / 5 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center;} 
    
.grilla24 { grid-area: 4 / 3 / 5 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla25 { grid-area: 4 / 4 / 5 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla26 { grid-area: 4 / 5 / 5 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla27 { grid-area: 4 / 6 / 5 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla28 { grid-area: 4 / 7 / 5 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla29 { grid-area: 5 / 1 / 6 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla30 { grid-area: 5 / 2 / 6 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla31 { grid-area: 5 / 3 / 6 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla32 { grid-area: 5 / 4 / 6 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla33 { grid-area: 5 / 5 / 6 / 6; 
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla34 { grid-area: 5 / 6 / 6 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla35 { grid-area: 5 / 7 / 6 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla36 { grid-area: 6 / 1 / 7 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla37 { grid-area: 6 / 2 / 7 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla38 { grid-area: 6 / 3 / 7 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla39 { grid-area: 6 / 4 / 7 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla40 { grid-area: 6 / 5 / 7 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla41 { grid-area: 6 / 6 / 7 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla42 { grid-area: 6 / 7 / 7 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla43 { grid-area: 7 / 1 / 8 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla44 { grid-area: 7 / 2 / 8 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla45 { grid-area: 7 / 3 / 8 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla46 { grid-area: 7 / 4 / 8 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla47 { grid-area: 7 / 5 / 8 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla48 { grid-area: 7 / 6 / 8 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla49 { grid-area: 7 / 7 / 8 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla50 { grid-area: 8 / 1 / 9 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla51 { grid-area: 8 / 2 / 9 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla52 { grid-area: 8 / 3 / 9 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla53 { grid-area: 8 / 4 / 9 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla54 { grid-area: 8 / 5 / 9 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla55 { grid-area: 8 / 6 / 9 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla56 { grid-area: 8 / 7 / 9 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla57 { grid-area: 9 / 1 / 10 / 2;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla58 { grid-area: 9 / 2 / 10 / 3;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla59 { grid-area: 9 / 3 / 10 / 4;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla60 { grid-area: 9 / 4 / 10 / 5;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla61 { grid-area: 9 / 5 / 10 / 6;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla62 { grid-area: 9 / 6 / 10 / 7;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; } 
    
.grilla63 { grid-area: 9 / 7 / 10 / 8;
    background-color: lightgray;
    border-style: dashed ;
    border-color: #c0c0c0;
    border-radius: 10%;
    border-width: 1px;
    width: 4rem;    
    height: 4rem;
    text-align: center;
    display: grid;
    visibility:hidden;
    position:relative;
    align-items: center; }  
    
    /* CSS Sweet Alert */

    .swal2pop2 {
        left: -5% !important; 
        transform: translate(-50%, -50%);  
        top: -25% !important; 
    }

    .swal2pop {
/*         display: flex !important;
        flex-direction: row !important;
        align-items: center !important; */
        background: rgb(192,192,192);
        background: linear-gradient(to left, rgba(16,132,208,1), rgba(0,0,128,1)) no-repeat, rgb(192,192,192);
        background-size: 100% 10%;  /* The blue gradient bar height (10%) can be adjusted */
        background-position: top;        
        border: 1px solid white;
        color: black ;
        font: sans-serif ;
        font-size: 0.8rem ;
        border: solid 1px gray ;
        border-radius: 0% ;
        box-shadow: -4px 2px 38px 18px rgba(112, 108, 108, 0.75);
        --animate-duration: 0.2s;
        margin-bottom: 2rem;
        padding: 20px 20px 20px 20px !important;
        max-width: 250px;

      }

    .swal2-title {
        color: black;
        margin: auto 1rem !important;        
      } 
    
    .swal2-image {
        margin: 0 auto;
    }

      .swalBtn {
        background-color: transparent;
        color: black;
        box-sizing: border-box;
        border: none;
        border-radius: 0;      
        min-width: 75px;
        min-height: 23px;
        padding: 0 12px;
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
        /* text-shadow: 1px 1px var(--text-color); */
      }

    .swal2-close {
        border: none !important;
        border-radius: 0% !important;
        min-width: 5px !important;
        max-width: 16px !important;
        min-height: 5px !important;
        max-height: 14px !important;
        margin: 3px;
        font-size: 20px;
        color: black;
        font-weight: lighter;
        text-align: baseline !important;  
        background-color: #c0c0c0;  
    }    

    .swal2-close:hover {
        background-color: #c0c0c0;
        color: black;
        
    }

    .swal2-close::content {
        margin-bottom: 10px !important;
        transform: translateY(50%);
    }

    .swal2-modal {
        background-color: #c0c0c0;
        max-width: 250px;
    }

    .swal2-styled {
        background-color: transparent;
        color: black;
        box-sizing: border-box;
        border: none;
        border-radius: 0;      
        min-width: 75px;
        min-height: 23px;
        padding: 0 12px;
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }

#swal2-select {
        background-color: white;
        color: black;
        list-style: none;
    }

    .swal2-title {
        font-size: 16px;
        font-family: sans-serif;
    }

    .swal2-valMsg {
        background-color: #c0c0c0;
        color: black;
        font-size: 12px;
    }

    .swal2close {
        background-color: #802222;
        min-width: 800px !important;
    }

    .popupText {
        font-family: sans-serif;
        color: black;
        font-size: 14px;
    }

    .swal2-html-container {
        background-color: #737373;

    }
    /* TEST */

    .closeEvent {
        font-family: sans-serif;
        font-size: 12px;
    }

    .closeeventBtn {
        display: flex;
        margin: 0.4rem auto;
        justify-content: center;
        gap: 4px;
    }


/* Tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: none;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #ffffe2;
    color: black; /* The text color is now black */
    text-align: center;
    border-radius:5px;
    padding: 5px 0;
    border: 1px solid black; /* Add black border here */
    position: absolute;
    z-index: 9;
    top: -5px;
    left: 275%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* Arrow to the left */
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ffffe2 transparent transparent; /* Main arrow with color on the right */
}

.tooltip .tooltiptext::before {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* Shadow to the left */
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent black transparent transparent; /* Shadow with color on the right */
    z-index: -1;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
  }

  .status-bar-field {
    display: flex;
    align-items: center;
    line-height: 16px; /* Adjust this value based on the image height */
}

.status-bar-field img {
    height: 16px; /* Match the image size */
    margin-left: 5px; /* Optional spacing */
    margin-top: 2px;
    margin-right: 0;
}


.status-bar-field span {
    margin-right: 1px; /* Optional: space between image and text */
}